<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>XII CBSE Science</title>
</head>

<body>
  <h1 align="center">CBSE Science TEXTBOOKS</h1>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>



  <p align="justify">
Dear Friends,</br>
welcome to CBSE SCHOOL BOOKS</br>
It was 20 years ago, I was exactly in the same situation as you are in today. </br>
"How to best prepare for Board examination".</br></br>

You want to collect every possible resource. You want to read every possible book. You want to watch every possible video.</br>
This I know is very expensive excercise. Each book you buy, Each course you take cost you money. More importantly the time you spent on them is more crutial than the money you spend. </br>
</br>
In the era of Mobile banking and mobile social networking and cheap Internet, it would be a mear surprise that education is not available online.</br>

</br></br>with Internet on your Palm and with click of a button access to ocean of infinite knowledge, there is tremendous amount of material to choose from. One has to carefully choose a needle for stack of hay. 
</br>In this scenario I would say "sometimes too much information is harmful"

</br>My idea to present you this portal is exactly this one. 
</br>- "Getting rid of this heavy lifting of choosing the best material"
</br>- "Removing all the distractions and urges of navigating away from real content"
</br>- "Providing you quality content for real sources". [elimitating fake ones]
</br>- Saving you time and money 
</br>- Material should be available on MOBILE so that you can utilize every minute. No matter you are in bus train, having dinner
</br>
</br>I will keep adding material as and when I find it suitable. 
</br>Please select the <b>CLASS for which you want to download the e-books</b>. 

  </p>

  <p align="center">
    <a href="/xii" class="btn btn-dark btn-lg btn-block" role="button" aria-pressed="true"> XII </a>
  </p>
  </div>
</body>

</html>
